// Note the * after the class name. This just selects everything after the initial
// class definition

.preload-transitions * {
  // Dry this up a bit with SCSS variable
  $null-transition: none !important;
  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}